@tailwind base;
@tailwind components;
@tailwind utilities;

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

html {
  @apply bg-slate-900;
}

body {
  @apply min-h-screen bg-slate-800 selection:bg-burnt selection:text-white;
}

a {
  text-decoration-line: underline;
  @apply transition duration-100 hover:text-burnt;
}

img {
  @apply rounded-2xl;
}
